.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.42857143;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  color: #6a6c6f;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-default {
  background-color: @body-bg;
  border-color: @border-color;
  color: @color-text;
}

.btn:focus,
.btn:hover {
  border-color: darken(@border-color, 10%);
  color: darken(@color-text, 10%);
}

.btn:active {
  background-color: darken(@border-color, 10%);
  border-color: darken(@border-color, 10%);
  color: #fff;
}

.btn-primary {
  color: @color-orange;
  background-color: #fff;
  border-color: @color-orange;
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: @color-orange;
  border-color: @color-orange;
  color: #fff;
}

.btn-primary:active {
  background-color: lighten(@color-orange, 10%);
  border-color: lighten(@color-orange, 10%);
  color: #fff;
}

.btn-info {
  background-color: @color-blue;
  border-color: @color-blue;
  color: #fff;
}
.btn-info:focus,
.btn-info:hover {
  background-color: lighten(@color-blue, 10%);
  border-color: lighten(@color-blue, 10%);
  color: #fff;
}

.btn-info:active {
  background-color: #fff;
  border-color: @color-blue;
  color: @color-blue;
}

.btn-disabled {
  cursor: no-drop;
}

.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
  background-color: @body-bg;
  border-color: @border-color;
  color: @color-text;
}

.btn-block+.btn-block {
  margin-top: 5px;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  button:not(:last-child) {
    margin-bottom: 15px;
  }

  button {
    margin-right: 7.5px;
    margin-left: 7.5px;
  }
}

.panel-body.btn-wrapper {
  button:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .btn-wrapper {
    flex-direction: row-reverse;
  }
}