.navbar--fixed-top ~ header {
  height: 200px;
  margin-top: 50px;
  padding-top: 50px;
  background-image: none;
  background-color: #339ad6;
  margin-bottom: -156px;
}

.header--login,
.header--register {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
}
