.logo {
  width: 100px;

  img {
    max-width: 100%;
    height: auto;
  }

  &--footer {
    margin: 0 auto;
  }

  &--header {
    height: 55px;
    width: 60px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    background-color: #fff;
    text-align: left;
  }
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
  .navbar--inner .logo--header {
    width: 200px;
    padding-right: 15px;
    padding-left: 15px;
  }
}