.rates-form-wrapper-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

@media (min-width: @tablet-width) {
  .rates-form-wrapper-buttons {
    flex-direction: row-reverse;
  }
}

@media (min-width: @desktop-width) {

}