.register-container {
  max-width: 720px;
  margin: auto;
  padding-top: 2%;
}

.register-header {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .register-form-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .register-form-wrapper .form-group{
    flex-basis: 48%;
  }
}

@media (min-width: @desktop-width) {

}